/* BASE SETTINGS */
* {
    margin: 0;
}
html {
    font-size: 16px;
}
body {
    background-color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    color: rgb(53, 51, 50);
}
img {
    max-width: 100%;
}
h1 {
    font-size: 3rem;
    line-height: 1;
    padding-bottom: 1rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
h4 {
    font-size: 1.2rem;
}
h6 {
    font-size: 0.8rem;
}
p {}


/* NAVBAR */
navbar {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    z-index: 20;
    height: 4rem;
    border-bottom: solid 2px rgb(199, 192, 187);
}

#navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;  
}

.navbar-left1 {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.navbar-left1 p {
    display: inline-block;
    font-size: 1.2rem;
}

.navbar-right1 ul {
    display: inline-flex;
    wrap: no-wrap;
    padding-right: 1.5rem;
    align-items: center;
    padding-left: 0;
}

.navbar-right1 li {
    list-style: none;
    padding-left: 1rem;
    wrap: no-wrap;
    text-align: center;
}

/* Navbar for screens <480px, >480px */
@media screen and (max-width:480px) {
    navbar {
        display: none;
    }
    #navbar2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4rem;
        width: 100%;
        position: fixed;
        background-color: whitesmoke;
        border-bottom: solid 2px rgb(199, 192, 187);
        z-index: 21;
    }
}
@media screen and (min-width:480px) {
    navbar {
        display: flex;
    }
    #navbar2 {
        display: none;
    }
}


/* HEADER */
header {
    background-color: rgb(199, 192, 187);
    display: inline-flex;
    flex-direction: row;
    position: relative;
    top: 4rem;
}

.header-left {
    padding: 2rem 0.75rem 2rem 1.5rem;
}

.header-left img {
    min-width: 60%; 
}

.header-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 4rem 2rem 0.75rem;
}

.header-bottom {
    width: 100%;
    display: block;
    justify-content: center;
}

button {
    letter-spacing: 0.2rem;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(71, 69, 67);
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    border-bottom: 2px solid rgb(53, 51, 50);
    border-right: 2px solid rgb(53, 51, 50);
}
button:hover {
    background-color: rgb(97, 95, 93);
}
button:active {
    border-bottom: 2px solid rgb(83, 80, 79);
    border-right: 2px solid rgb(83, 80, 79);
}
a {
    text-decoration: none;

}
/* Header for screens <480px */
@media screen and (max-width:480px) {
    header {
        flex-direction: column;
        width: 100%;
        top: 4rem;
    }
    .header-left,
    .header-right {
        padding: 0;
        margin: 0;
    }
    .header-right {
        padding: 2rem 1rem;
    }
    h1 {
        padding-bottom: 2rem;
    }
    h3 {
        padding-bottom: 1.5rem;
    }
    .header-bottom {
        width: 100%;
    }
   
}


/* PRACTISE SECTION */
#practise {
    display: flex;
    top: 4rem;
    position: relative;
    flex-direction: row;
    background-color: whitesmoke;
}

.practise-left {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    margin-bottom: 2rem;
}

.practise-left .left-top,
.practise-left .left-bottom {
    padding: 2rem 1.5rem 0 1.5rem;
}

.practise-left .left-top img {
   width: 100%;
}

.practise-left .left-bottom p {
    padding: 1.5rem 0.5rem 1.5rem 0;
}

.practise-right {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    justify-content: space-between;
    border-left: solid 2px rgb(199, 192, 187);
    padding-bottom: 2rem;
}

.practise-container p {
    padding: 0.5rem 0;
} 

.practise-container {
    display: inline-flex;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-bottom: solid 2px rgb(199, 192, 187);
    height: 33.3%;
}

#guest {
    background-color: rgb(199, 192, 187);
}

.practise-container img {
    
    align-self: center;
    max-width: 35%;
}

.practise-container .info {
    display: flex;
    flex-direction: column;
    min-width: 65%;
    padding: 0 0 0 1rem;
    justify-content: center;
    
}
/* Practise section for screens <480px, >480px */
@media screen and (max-width:480px) {
    .n1 {
        display: none;
    }
    .n2 {
        display: block;
        min-width: 100%;
    }
    .practise-left {
        display: none;
    }  
    .practise-container {
        flex-direction: column;
    }
    .practise-container .info {
        padding: 1rem 2rem 1rem 1rem;
    }
    #guest {
        background-color: whitesmoke;
    }
    .practise-right {
        padding-bottom: 0;
    }
}
@media screen and (min-width:480px) {
    .n1 {
        display: block;
    }
    .n2 {
        display: none;
    }
}


/* LEARNING SECTION */
#learning {
    top: 4rem; 
    position: relative;
    background-color: rgb(199, 192, 187);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

#learning h2 {
    padding: 2rem 0 1rem 0;
    display: block;
}

.learning-container {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    width: 33%;
    box-sizing: border-box;
}

.about {
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.about p {
    padding: 0.5rem 0;
}
#learning .containers {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 3rem 2rem 3rem;

}
/* Learning section for screens <480px, >480px */
@media screen and (max-width:480px) {
    #learning {
        background-color: whitesmoke;
        border-bottom: solid 2px rgb(199, 192, 187);
    }
    .learning-container img,
    .about p {
        display: none;
    }
    .about {
        background-color: rgb(199, 192, 187);
        padding: 1rem 1rem 1rem 1rem;
    }
    .learning-container {
        width: 100%;
        padding: 0.5rem;
    }
    #learning .containers {
        padding: 0 1rem 1.5rem 1rem;
        box-sizing: content-box;
        display: block;
    }
}
@media screen and (min-width:480px) and (max-width:600px) {
    #learning .containers {
        padding: 0 1rem 2rem 1rem;
    }
    .learning-container {
        padding: 0.5rem;
    }
}


/* EXHIBIT SECTION */
#exhibit {
    display: flex;
    top: 4rem;
    position: relative;
    flex-direction: column;
    background-color: whitesmoke;  
    align-items: center;
}

#exhibit .containers {
    display: flex;
    flex-direction: row;
}

#exhibit h2 {
    padding: 2rem 0 1rem 0;
    display: block;
}

.exhibit-left {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.exhhibit-left .left-top,
.exhibit-left .left-bottom {
    padding: 2rem 1.5rem 0 1.5rem;
}

.exhibit-right {

}

.exhibit-right .exhibit-container 

.exhibit-right .exhibit-container img

.exhibit-container .info

